 .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50% !important;
}
.navbar-default {
    background-color: #B40404 !important;
    border-color: #B40404 !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff !important;
}
h3 {
    font-size: 20px !important;
    font-weight: bold !important;
}
.btn.deleteImage {
    position: absolute;
    top: 0;
    padding: 0px 5px;
    right: 13%;
    font-weight: bold;
}